* {
 max-width: 320px;
  margin: 0 auto;
  color: white;
}

.App {
  background-color: black;
  width: 320px;
}

.Header {
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 24px;
}

.photo {
  position: absolute;
  margin-top: 50px;
  width: 320px;
}

.bunting {
  position: relative;
  top: 7px;
  width: 320px;
}

.helen {
  position: relative;
  top: -4px;
  left: 56px;
  height: 50px;
}

.jav {
  position: relative;
  top: -39px;
  left: 68px;
  height: 44px;
}

.charly {
  position: relative;
    top: -22px;
    left: 46px;
  height: 45px;
}

.alastair {
  position: relative;
  top: -35px;
  left: 70px;
  height: 50px;
}

.blower {
  position: relative;
  top: 57px;
  left: -116px;
  height: 32px;
   -webkit-transform: rotate(280deg);
  -moz-transform: rotate(280deg);
  -o-transform: rotate(280deg);
  -ms-transform: rotate(280deg);
  transform: rotate(280deg);
}

.horn {
  position: relative;
    top: 27px;
    left: 65px;
  height: 20px;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.arrow {
  position: relative;
  bottom: -150px;
  display: flex;
  justify-content: center;
}

.arrowButton {
  height: 50px;
}

.Message {
  margin: 10px;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0px;
}

.Message h2 {
  text-align: centre;
  padding: 20px;
  margin: 10px;
}

.msg1 {
  border: 5px dotted dodgerblue;
  background-color: hotpink;
}

.msg2 {
  border: 5px dotted hotpink;
  background-color: dodgerblue;
}

.Surprise h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  background-color: red;
  padding: 10px;
}

.giphy-embed {
  margin: 20px 0px;
}

.arrow2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -143px;
}

.arrowButton2 {
    height: 50px;
    margin: 10px;
}

.arrow3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -143px;
}

.arrowButton3 {
    height: 50px;
    margin: 10px;
}

.Footer {
  background-color: black;
  position: relative;
  bottom: -163px;
  padding: 20px;
  text-align: center;
}